Pandas-

Series - 1D

Dataframes - 2D

Import, display, manipulate and export tabular data

In [54]:
import pandas as pd

  Series = A pandas 1-D labeled array that can hold any data type

In [55]:
data = [100,102,104]
series = pd.Series(data, index=["a","b","c"]) #series constructor

series.loc["c"] = 200
# print(series)
# print(series.loc["c"])
# print(series.iloc[0])
# filter values -
# print(series[series<200])

loc - locate a label


iloc - locate by integer position

In [56]:
#dictonaries

calories = {"Day 1": 1750,"Day 2": 2100, "Day 3": 1700}

series = pd.Series(calories)

# series.loc["Day 3"] += 500
# print(series.loc["Day 3"])
print(series[series>=2000])

Day 2    2100
dtype: int64

DataFrames = A tabular data structure with rows and columns. (2 dimensional)

Similar to an Excel spreadsheet

In [57]:
data = {
    "Name":["Misbah","Aishah","Amena"],
    "Age":[12,15,24]
}

df = pd.DataFrame(data, index=["person 1","person 2","person 3"]) #DataFrame constructor

# print(df.loc["person 1"])

# print(df.iloc[1])
# add a new column
df["Job"] = ["Pilot","Doctor","Engineer"]

# add a new rows
new_rows = pd.DataFrame([{"Name":"Ibad","Age":25,"Job":"Engineer"},
                        {"Name":"Mom","Age":49,"Job":"Dentist"}],
                        index = ["person 4","person 5"])

df = pd.concat([df,new_rows])
print(df)

            Name  Age       Job
person 1  Misbah   12     Pilot
person 2  Aishah   15    Doctor
person 3   Amena   24  Engineer
person 4    Ibad   25  Engineer
person 5     Mom   49   Dentist

In [58]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv",
    index_col="species")
# print(df.to_string())
print(df)

           sepal_length  sepal_width  petal_length  petal_width
species
setosa              5.1          3.5           1.4          0.2
setosa              4.9          3.0           1.4          0.2
setosa              4.7          3.2           1.3          0.2
setosa              4.6          3.1           1.5          0.2
setosa              5.0          3.6           1.4          0.2
...                 ...          ...           ...          ...
virginica           6.7          3.0           5.2          2.3
virginica           6.3          2.5           5.0          1.9
virginica           6.5          3.0           5.2          2.0
virginica           6.2          3.4           5.4          2.3
virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [59]:
# SELECTION BY COLUMN

print(df["sepal_length"])
print(df["species"].to_string())
print(df[["sepal_length","sepal_width","petal_length"]])

species
setosa       5.1
setosa       4.9
setosa       4.7
setosa       4.6
setosa       5.0
            ...
virginica    6.7
virginica    6.3
virginica    6.5
virginica    6.2
virginica    5.9
Name: sepal_length, Length: 150, dtype: float64

KeyError: 'species'

In [72]:
# SELECTION BY ROW/S

df1 = pd.read_csv(
    "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv",
    index_col="Name")

# gen1 = df[df["Generation"] == 1]

# print(df1)
pokemon = input("enter a pokemon name: ")
try:
  print(df1.loc[pokemon])
except:
  print(f"{pokemon} not found")

# print(df.loc["setosa",["sepal_length","sepal_width"]])

# print(df.iloc[0:11:2,0:3])

enter a pokemon name: pikachu
pikachu not found

Filtering - keeping the rows that match a condition

In [73]:
fast_pokemon = df1[df1["Speed"]>=150]

# print(fast_pokemon)

water_pokemon = df1[(df1["Type 1"]=="Water")|
                    (df1["Type 2"]=="Water")]
print(water_pokemon)

                           #  Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
Name
Squirtle                   7   Water    NaN  44      48       65       50
Wartortle                  8   Water    NaN  59      63       80       65
Blastoise                  9   Water    NaN  79      83      100       85
BlastoiseMega Blastoise    9   Water    NaN  79     103      120      135
Psyduck                   54   Water    NaN  50      52       48       65
...                      ...     ...    ...  ..     ...      ...      ...
Barbaracle               689    Rock  Water  72     105      115       54
Skrelp                   690  Poison  Water  50      60       60       60
Clauncher                692   Water    NaN  50      53       62       58
Clawitzer                693   Water    NaN  71      73       88      120
Volcanion                721    Fire  Water  80     110      120      130

                         Sp. Def  Speed  Generation  Legendary
Name
Squirtle                      64     43           1      False
Wartortle                     80     58           1      False
Blastoise                    105     78           1      False
BlastoiseMega Blastoise      115     78           1      False
Psyduck                       50     55           1      False
...                          ...    ...         ...        ...
Barbaracle                    86     68           6      False
Skrelp                        60     30           6      False
Clauncher                     63     44           6      False
Clawitzer                     89     59           6      False
Volcanion                     90     70           6       True

[126 rows x 11 columns]

Aggregate functions = reduces a set of values into a single summary value

used to summarize and analyze data

often used with the groupby() function

In [ ]:
# Whole dataframe

# print(df1.mean(numeric_only=True))

# print(df1.sum(numeric_only=True))

# print(df1.min(numeric_only=True))

# print(df1.max(numeric_only=True))

# print(df1.count())

In [ ]:
# Single Column

# print(df1["Speed"].mean())

# print(df1["Speed"].sum())
# print(df1["Speed"].min())

# print(df1["Speed"].max())
print(df1["Speed"].count())

In [61]:
# Group By

group = df1.groupby("Type 1")
# print(group["HP"].mean())
# print(group["HP"].sum())
# print(group["HP"].mean())
# print(group["HP"].count())

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: HP, dtype: int64

Data Cleaning - the process of fixing/removing:

incomplete, incorrect, or irrelevant data. ~75% of work done with Pandas is data cleaning.

In [71]:
# 1. Drop irrelevant columns

# df1 = df1.drop(columns=["Legendary"])

print(df1)

                         #   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
Name
Bulbasaur                1    Grass  Poison  45      49       49       65
Ivysaur                  2    Grass  Poison  60      62       63       80
Venusaur                 3    Grass  Poison  80      82       83      100
VenusaurMega Venusaur    3    Grass  Poison  80     100      123      122
Charizard                6     Fire  Flying  78      84       78      109
...                    ...      ...     ...  ..     ...      ...      ...
Diancie                719     Rock   Fairy  50     100      150      100
DiancieMega Diancie    719     Rock   Fairy  50     160      110      160
HoopaHoopa Confined    720  Psychic   Ghost  80     110       60      150
HoopaHoopa Unbound     720  Psychic    Dark  80     160       60      170
Volcanion              721     Fire   Water  80     110      120      130

                       Sp. Def  Speed  Generation
Name
Bulbasaur                   65     45           1
Ivysaur                     80     60           1
Venusaur                   100     80           1
VenusaurMega Venusaur      120     80           1
Charizard                   85    100           1
...                        ...    ...         ...
Diancie                    150     50           6
DiancieMega Diancie        110    110           6
HoopaHoopa Confined        130     70           6
HoopaHoopa Unbound         130     80           6
Volcanion                   90     70           6

[414 rows x 10 columns]

In [75]:
# 2. Handle missing data

# df1 = df1.dropna(subset=["Type 2"])
# drop NaN values

df1 = df1.fillna({"Type 2": "None"})
print(df1)

                         #   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
Name
Bulbasaur                1    Grass  Poison  45      49       49       65
Ivysaur                  2    Grass  Poison  60      62       63       80
Venusaur                 3    Grass  Poison  80      82       83      100
VenusaurMega Venusaur    3    Grass  Poison  80     100      123      122
Charmander               4     Fire    None  39      52       43       60
...                    ...      ...     ...  ..     ...      ...      ...
Diancie                719     Rock   Fairy  50     100      150      100
DiancieMega Diancie    719     Rock   Fairy  50     160      110      160
HoopaHoopa Confined    720  Psychic   Ghost  80     110       60      150
HoopaHoopa Unbound     720  Psychic    Dark  80     160       60      170
Volcanion              721     Fire   Water  80     110      120      130

                       Sp. Def  Speed  Generation  Legendary
Name
Bulbasaur                   65     45           1      False
Ivysaur                     80     60           1      False
Venusaur                   100     80           1      False
VenusaurMega Venusaur      120     80           1      False
Charmander                  50     65           1      False
...                        ...    ...         ...        ...
Diancie                    150     50           6       True
DiancieMega Diancie        110    110           6       True
HoopaHoopa Confined        130     70           6       True
HoopaHoopa Unbound         130     80           6       True
Volcanion                   90     70           6       True

[800 rows x 11 columns]

In [80]:
# 3. Fix inconsistent values
df1["Type 1"] = df1["Type 1"].replace({"Grass":"GRASS",
                                       "Fire":"FIRE",
                                       "Water":"WATER"})

print(df1)

                         #   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
Name
Bulbasaur                1    GRASS  Poison  45      49       49       65
Ivysaur                  2    GRASS  Poison  60      62       63       80
Venusaur                 3    GRASS  Poison  80      82       83      100
VenusaurMega Venusaur    3    GRASS  Poison  80     100      123      122
Charmander               4     FIRE    None  39      52       43       60
...                    ...      ...     ...  ..     ...      ...      ...
Diancie                719     Rock   Fairy  50     100      150      100
DiancieMega Diancie    719     Rock   Fairy  50     160      110      160
HoopaHoopa Confined    720  Psychic   Ghost  80     110       60      150
HoopaHoopa Unbound     720  Psychic    Dark  80     160       60      170
Volcanion              721     FIRE   Water  80     110      120      130

                       Sp. Def  Speed  Generation  Legendary
Name
Bulbasaur                   65     45           1      False
Ivysaur                     80     60           1      False
Venusaur                   100     80           1      False
VenusaurMega Venusaur      120     80           1      False
Charmander                  50     65           1      False
...                        ...    ...         ...        ...
Diancie                    150     50           6       True
DiancieMega Diancie        110    110           6       True
HoopaHoopa Confined        130     70           6       True
HoopaHoopa Unbound         130     80           6       True
Volcanion                   90     70           6       True

[800 rows x 11 columns]

In [83]:
# 4. Standardize text

df1["Name"] = df1["Name"].str.lower()

print(df1.to_string())

KeyError: 'Name'